

body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}

.name-color{
    color: tomato;
}
.hello-area{
    padding-bottom: 150px;
}
.hello{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2% ;
}
.hello img{
    width: 100%;
}